html, body{height: 100%; width: 100%; margin: 0; padding: 0;}
body{
   text-align: center;
   line-height: 18px;
   text-transform: capitalize;
   font-family: sans-serif, monospace;
   font-size: 13pt;
  }
img#bg-image{
  min-width: 1024px;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}
navbar nav{
  display: inline;
  text-transform: uppercase;
  font-family: bell-mt, lucida-console, monospace;
  font-size: 15pt;
  color: blue;
  line-height: 12px;
}
img#err-info{
  padding-top: 20px;
  margin: 3px;
  width: 70%;
  max-height: 450px;
  opacity: 0.4;
}
.clear{
  clear:both;
}

button{
  margin: 10px;
  text-aligh: center;
  font-size: 13pt;
  text-transform: uppercase;
  background-color: green;
  color: white;
  text-shadow: 1px 0px 1px cyan;
  border: 2px solid yellow;
  border-radius: 2em;
  padding: 6px;
  cursor:pointer;
}
