      #map {
        width: 980px;
		height: 600px;
		margin-left: 2%;
		float:left;
      }
	    table {
        font-size: 12px;
      }
      #listing {
		float: right;
        width: 230px;
        height: auto;
		max-height: 580px;
        overflow: auto;
        cursor: pointer;
		margin-right: 50px;
      }
      #findhotels {
		font-size: 13pt;
		padding: 2px;
		z-index: 5;
		background-color: #B9D9DD;
		color: #C00CC0;
		text-transform: uppercase;
		font-family: lucida console;
		margin-left: 50px;
      }
	  #locationField {
		width: 190px;
		height: 25px;
		top: 9px;
		z-index: 5;
		margin-left: 170px;
		position: absolute;
		background-color: #F8F1F1;
		left: 50px;
	}
      
      #controls {
		left: 450px;
		width: 140px;
		top: 9px;
		z-index: 5;
		background-color: #6E1212;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
	  .hideDiv{
	  display: none;
	  }
	  