#form label{
	font-variant: all-petite-caps;
	font-size: 11pt;
	display: block;
	margin: 0;
}
#form{
	max-width: 367px;
}
#form input, #form textarea {
    color: #2F08F6;
    font-size: 10pt;
    text-transform: capitalize;
    max-width: 241px;
    font-family: bell-mt, monospace;
    text-align: left;
}
#form .form span{
	display: inline;
}
#form span#profile-img{
	margin-top: 137px;
}
table {
      font-size: 12px;
    }
    @font-face {
       font-family: 'Cantarell';
       src: url(fonts/Cantarell-Regular.eot);
       src: local('Cantarell'), url('fonts/Cantarell-Regular.ttf') format('truetype');
    }

    body {
        background-color: #f9f9f9;
        color: #222;
        font-family: Cantarell, Verdana, sans-serif;
        font-size: 12px;
    }

    #container {
        background: url('images/container.png') no-repeat;
        width: 754px;
        height: 393px;
        margin: 20px auto;
        padding: 50px 0;
        overflow: hidden;
        position: relative;
    }

        #container .form { margin: 20px 72px 0 72px; }

        #container h1, #container h2 {
          font-size: Cantarell, Verdana, sans-serif;
          text-align: center;
          font-size: 24px;
          text-shadow: 1px 1px 2px #13ea80;
          color: #0f920f;
      }
        #container h1 span {
          color: #f9ea40;
          text-shadow: 2px 1px 2px #041704;
        }

	#container input, #container select {
	    background: url('images/input.png') no-repeat;
	    color: #888;
	    border: 1px solid #ccc;
	    font-family: Cantarell, Verdana, sans-serif;
	    font-weight: bold;
	    font-size: 15px;
	    width: 272px;
	    height: 35px;
	    padding: 2px 25px;
	    margin: 15px 20px;
	    float: right;
	    border-radius: 6px;
	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	}

    #container.login button.submit {
      border-radius: 0.5em;
      cursor: pointer;
      width: 106px;
      height: 38px;
      position: absolute;
      color: white;
      background-color: #0d740a;
      font-size: 14pt;
      text-shadow: 2px 1px 4px cyan;
      border-color: #cece0a;
			margin-top: 140px;
			left: 74%;
    }


    #container input:focus, #container select:focus {
        border: 1px solid #a90329;
        color: #a90329;
    }


        #container label {
          color: #286603;
          font-size: 11pt;
          font-weight: bold;
          line-height: 22pt;
          float: right;
          margin: 12px 5px;
          width: 280px;
        }
			#login-note{
				margin-top: 20px;
				padding: 5px;
				margin-left: 15px;
			}
    #login-note p{
        font-size: 17pt;
        font-family: sans-serif, lucida-console;
        text-transform: uppercase;
        text-decoration: underline double;
        line-height: 29px;
        text-shadow: 1px 1px 2px #2f8c8c;
    		width: 498px;
    }
    #login-note span {
				display: inline-block;
        color: #9baa18;
        text-decoration: underline #22f5e6 double;
        text-shadow: 2px 1px 1px #04ea04;
        text-transform: capitalize;
        font-size: 15pt;
        margin-left: 5px;
    }
    button.close {
        -webkit-appearance: none;
        padding: 3px;
        cursor: pointer;
        background: transparent;
        border: 0;
        margin-top: -15px;
        margin-right: 15px;
        font-size: 25pt;
      }
      .close:hover, .close:focus {
          color: #c82222;
          text-decoration: none;
          cursor: pointer;
          filter: alpha(opacity=50);
          opacity: .5;
      }
#status span{
	color: #763c6f;
	margin-left: 37%;
	text-decoration: none;
	margin-top:15px;
	font-size: 14pt;
	font-variant:small-caps;
	font-family:cursive
}
