html, body{height: 100%; }
body{font-size: 14px; line-height: 18px;}
.mainbody{ min-height: 100%;}
.page-header{margin-top: 0px;  border-bottom: 1px solid #1995DC; padding-bottom: 0px; }
.page-header h1{margin-top: 0px;
	font-size: 18px;
	text-align: center;
	color: #210cec;
	text-shadow: 2px 1px 2px #1bc31b;
	font-family: vernda,inherit monospace, taloma;
}
.footer{ margin-top:10px; padding: 15px; margin-bottom: 0 !important; height: auto; }
.copyright{ color: #fff; text-align: center; font-size:15pt; text-transform: uppercase;}
.copyright a{ color: #fff; }
.required{color: #ff0039; font-size: 19pt;}

i[number="+"]{
	color: red !important;
}
.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 8px;
    border-bottom: 2px solid #11f9c8;
}
.navbar-nav{
	font-size: 12pt;
	text-transform: uppercase;
  color: #EEF2F6 !important;
  text-decoration: none;
  cursor:pointer;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white;
}

label{
	margin-right: 10px;
	color: green;
}
input[type="text"]{
	width: 250px;
	height: 30px;
}
.navbar-custom{
	background-color:#0EAA41;
}
.navbar-brand {
    color: #F3F4F5 !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #5EF3EE;
}
#why-this, #how-to, #new-letter{
  font-variant: small-caps;
  font-size: 14pt;
  font-family: lucida-console, monospace;
  color: green;
  display: block;
  text-decoration: underline orange double;
  margin-top: 10px;
  margin-bottom: 15px;
}
#map-content button{
  display: block;
  margin-top: 10px;
  text-aligh: center;
  font-size: 13pt;
  text-transform: uppercase;
}
#contact_form input{
  float: right;
  max-width: 247px;
  margin-right: 1%;
}
#contact_form span#input{
  display: block;
  padding: 5px;
}
#contact_form label{
  margin-bottom: 20px;
  font-size: 12pt;
  font-family: new times, taloma, monospace;
  text-transform: capitalize;
}
#map-content p{
  font-size: 11pt;
  font-family: sans-serif, bell-mt, monospace;
}
#contact_form button{
  float: right;
  padding: 4px;
}
#profile-img{
	width: 35px;
	height: 35px;
	float: right;
}
.failed{
	color : red;
	font-family : Cantarell, Verdana, bell mt;
	font-size : 12pt;
	text-transform : capitalize;
	text-decoration : underline;
}
.success{
	color:green;
	font-size : 12pt;
	font-family : Cantarell, Verdana, lucida console;
	text-transform : capitalize;
	text-decoration : underline;

}
#close-result {
    margin-left: 15px;
    background-color: #35c912;
    color: #0d303f;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px #b710d8;
    font-size: 14pt;
    font-family: taloma, monospace;
    border-radius: 1.9em;
    border: 3px solid #f9ff00;
    display: none;
    width: 180px;
		margin-top: 10px;
}
input#search-box{
	border-radius: 1.4em;
	border: 2px solid green;
	text-align: center;
	font-size: 12pt;
	margin-top: 4px;
	margin-left: 5px;
}
#advanced-options label{
	display: block;
	margin-bottom: 25px;
	font-size: 15pt;
}
#advanced-options label input{
	float: right;
	margin-right: 20px;
}
