#map{
	width: 98%;
	height: 480px;
	margin: -18px 1% 0% 1%;
	}

button#btnSave{
	margin-top: 5px;
}
input[type="button"]{
	height: 35px;
	font-size: 12pt;
	font-family: bell mt, monospace;
	color: white;
	background-color: #5D0606;
	letter-spacing: 2px;
}
#mapTypes img#layers{
	padding: 15px;
}

.controlBtn{
	font-size: 12pt;
	color: green;
	font-family: monospace, sans serif;

}
#myMapCtrl{
    height: 550px;
	width: 850px;
	margin-top: 40px;
	margin-left: 25px;
	border: solid red;
      }
#goCenterUI, #setCenterUI, #locator {
	background-color: #367D70;
	border: 2px solid #FFF;
	border-radius: 3px;
	box-shadow: 0px 2px 6px rgba(33, 167, 157, 0.3);
	cursor: pointer;
	float: left;
	margin-bottom: 22px;
	text-align: center;
	margin-right: 10px;
}

#goCenterText, #setCenterText, #locatorTxt {
	color: #C0C4F0;
	font-family: Roboto,Arial,sans-serif;
	font-size: 15px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	font-variant: small-caps;
	letter-spacing: 3px;
}

#setCenterUI {
  margin-left: 12px;
}
#baseMapControl{
	background-color: grey;
	margin-right: 5px;
	padding-right: 15px;
}
#layersImage{
	width: 45px;
background-color: #fff;
border: 2px solid #ccf20e;
border-radius: 50%;
margin-right: 12px;
margin-top: 13px;
position: relative;
}
#overCoord{
	width: 287px;
	height: auto;
	background-color: #C8F2F3;
	font-size: 12pt;
	margin-bottom: -7px;
	margin-left: 61%;
	text-align: center;
	border-radius: 1.1em;
}
#overCoord b{
	color: #176B20;
   font-weight: normal;
}
#user-info span{
	display: block;
	font-family: lucida-console, monospace;
	font-size: 11pt;
	color: #f09;
	text-transform: capitalize;
}
#user-info #user-name{
	color: blue;
	font-size: 13pt;
	font-family: bell-mt, sans-serif;
}
#dekut span{
	display: block;
	font-family: taloma, bell-mt;
	font-size: 13pt;
	color: #2dc35e;
	text-transform: capitalize;
}
#dekut #name{
	color: orange;
	font-size: 15pt;
	font-family: sans-serif, monospace, lucida-console;
	text-decoration: underline;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #0ef5e4;
    background-image: none;
    border: 1px solid #1a0ed1;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #042904;
}
#right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        display: none;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        font-family: Arial, Helvetica, sans-serif;
        right: 5px;
        top: 68%;
        margin-top: -195px;
        height: 330px;
        width: 200px;
        padding: 5px;
        z-index: 5;
        border: 1px solid #999;
        background: #fff;
      }

    #map  h2 {
        font-size: 22px;
        margin: 0 0 5px 0;
      }
      #map ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 271px;
        width: 200px;
        overflow-y: scroll;
      }
      #map  li {
        background-color: #f1f1f1;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
       #map  li:nth-child(odd) {
        background-color: #fcfcfc;
      }
      #more {
        width: 100%;
        margin: 5px 0 0 0;
      }

			#listing {
				height: auto;
				max-height: 530px;
				cursor: pointer;
				margin-bottom: 5px;
				z-index: 20;
				position: absolute;
				overflow: auto;
				max-height: 327px;
				margin-left: 73%;
				max-width:282px;
				margin-top:30px;
			      }
    #findhotels {
		font-size: 13pt;
		padding: 2px;
		z-index: 5;
		background-color: #B9D9DD;
		color: #C00CC0;
		text-transform: uppercase;
		font-family: lucida console;
		width: 160px;
        max-width: 180px;
      }
	  #locationField {
		width: 150px;
		height: 25px;
		top: 16px;
		z-index: 5;
		margin-left: 135px;
		background-color: #F8F1F1;
		left: 540px;
	}


      .placeIcon {
        width: 27px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 99%;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
	  .hideDiv{
	  display: none;
	  }
   #dst-panel {
		 font-family: "Roboto","sans-serif";
	 line-height: 30px;
		z-index: 20;
	 padding-left: 10px;
	 max-height: 331px;
	 height: auto;
	 overflow: auto;
	 width: 29%;
	 font-size: 16pt;
	 position: absolute;
	 top: 155px;
	 background-color: #B6F9F7;
	 left: 4.3%;
      }

      #dst-panel select, #dst-panel input {
        font-size: 15px;
      }


      #dst-panel i {
        font-size: 12px;
      }
#floating-panel {
	position: absolute;
	margin-top: -15px;
	left: 30%;
	z-index: 5;
	background-color: #E06FF6;
	padding: 2px 2px 2px 6px;
	border: 1px solid #FCF7F7;
	text-align: center;
	font-family: "Roboto","sans-serif";
	line-height: 30px;
	box-shadow: 0px 2px 2px rgba(7, 21, 14, 0.4);
	color: #304E0F;
	border-radius: 2em;
	visibility: hidden;
	display: none;
	}
      #path-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        width: 390px;
        overflow: auto;
      }

      #path-panel select, #path-panel input {
        font-size: 15px;
      }

      #path-panel select {
       width: 100%;
      }

      #path-panel i {
        font-size: 12px;
      }

      @media print {

        #path-panel {
          float: none;
          width: auto;
        }
      }
	   input#waypoints, input#start, input#end, select#mode{
		  width: auto;
		  max-width: 170px;
		  font-size: 12pt;
		  font-family: monospace;
		  color: #120EB6;
			border-radius: 1.1em;
	  }

	#autocompleteDiv{
		margin-top: 2px;
		background-color : #fff;
		border : 2px solid #A7E664;
		border-radius :13px;
		box-shadow :0 2px 6px rgba(0,0,0,.3);
		cursor: help;
		right: 154px;
	}
	#autoFilds {
	    color: rgb(210, 16, 201);
	    font-family: vernada,Arial, lucida-console;
	    font-size: 14pt;
	    font-variant: all-petite-caps;
	    text-align: center;
	    padding: 3px;
	}
	#autoFilds input[type="text"] {
	    max-width: 180px;
	    height: 30px;
	    margin-left: 5px;
	    border-radius: 13px;
	    color: #2224E1;
	    font-size: 14pt;
	    letter-spacing: 1px;
	    font-family: bell mt, sans-serif;
	    text-align: center;
	    min-width: 120px;
	    width: auto;
			font-variant: titling-caps;
	}
select#country{
	border-radius: 10px;
	width: 115px;
	margin-left: 5px;
	margin-right: 5px;
}
select#country option{
	color: #326C1C;
	text-align: left;
	margin-left: 3px;
}

#advanced-tool-img{
	width: 45px;
	margin-right: 13px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	-webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}
