@font-face {
   font-family: 'Cantarell';
   src: url(../fonts/Cantarell-Regular.eot);
   src: local('Cantarell'), url('../fonts/Cantarell-Regular.ttf') format('truetype');
}
.failed{
	color : red;
	font-family : Cantarell, Verdana, bell mt;
	font-size : 12pt;
	text-transform : capitalize;
	text-decoration : underline;
}
.success{
	color:green;
	font-size : 12pt;
	font-family : Cantarell, Verdana, lucida console;
	text-transform : capitalize;
	text-decoration : underline;
  display: block;

}

  body {
    background-color: #f9f9f9;
    color: #222;
    font-family: Cantarell, Verdana, sans-serif;
    font-size: 12px;
  }


  .clear { clear: both; }
  fieldset{border: none;}
  #container {
    background: url('../images/container.png') no-repeat;
    width: 754px;
    height: 390px;
    margin: 20px auto;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
  }
  #container.register-admin #second_step, #container.register-admin #final_step{ display: none; }
  #container h1, #container h2 {
    font-size: Cantarell, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 2px #13ea80;
    color: #0f920f;
  }
  #container h1 span {
    color: #f9ea40;
    text-shadow: 2px 1px 2px #041704;
  }
  #container h2 {
    color: #888;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 0px 1px cyan;
  }
  #container table {
    margin: 20px 40px;
    font-size: 14px;
    font-weight: bold;
  }
  #container table td {
    padding: 5px 10px;
  }
  #container table td:nth-child(2) {
    color: #a90329;
  }
  #container input, #container select {
    background: url('../images/input.png') no-repeat;
    color: #888;
    border: 1px solid #ccc;
    font-family: Cantarell, Verdana, monospace;
    font-weight: bold;
    font-size: 15px;
    height: 35px;
    padding: 0 27px;
    margin-top: 25px;
    float: right;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 270px;
  }
  #container input.submit {
    background: url('../images/button.png') no-repeat;
    border: none;
    cursor: pointer;
    width: 85px;
    height: 38px;
    position: relative;
    top: 48px;
    left: 315px;
  }
  #container input.error { border: 1px solid red; }
  #container input.valid { border: 1px solid #1FFF00; }
  #container input:focus, #container select:focus {
    border: 1px solid #a90329;
    color: #a90329;
  }
  #container label {
    color: #037a15;
    font-size: 16px;
    font-weight: bold;
    line-height: 31px;
    float: left;
    margin: 15px 35px;
    width: 320px;
    font-family: Cantarell, Verdana, lucida-console, bell-mt;
  }

  #progress_bar {
    background: url('../images/progress_bar.png') no-repeat;
    width: 339px;
    height: 24px;
    margin: 0 auto;
    position: relative;
  }

  #progress {
    background: url('../images/progress.png') repeat-x;
    width: 0px;
    height: 23px;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    position: relative;
  }
  #progress_text {
    position: relative;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #222;
    width: 339px;
    height: 24px;
    top: -23px;
    left: 0;
  }
  #register-admin-link, #register-student-link{
    color: #dbef28;
    font-size: 18pt;
    margin-left: 40px;
    text-shadow: 2px 1px 0px green;
    font-variant: all-petite-caps;
    cursor: default;
  }
  #register-admin-link span, #register-student-link span#register-student {
      color: green;
      text-shadow: 2px 1px 1px #45f6f0;
      cursor: pointer;
      text-decoration: underline brown double;
  }
  #register-student-link span#initial {
    font-variant: titling-caps;
  }
  form#register-student button, form#register-admin button{
      border: solid #d5ff00;
      text-align: center;
      text-transform: uppercase;
      border-radius: 2em;
      height: 46px;
      width: 128px;
      float: right;
      color: white;
      background-color: green;
      text-shadow: 1px 1px 2px cyan;
      cursor: pointer;
      margin-top: 20px;
  }
  button#register-student {
      margin-right: 25px;
      margin-top: -13px;
  }
  #register-admin button[name="register_first_step"]{
    margin-top: -35px;
    margin-right: 25px;
    cursor: pointer;
  }
  .button-hidden{
    display: none;
    visibility: hidden;
  }
  button#second_step, button#prev_second_step{
    margin-top: 98px;
  }
#button-container{
  float: right;
}
.close:hover, .close:focus {
    color: #f3260e;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .7;
    font-size: 25pt;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 25pt;
    margin-right: 10pt;
    margin-top: -10pt;
    opacity: 6;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #0be1c3;
    text-shadow: 2px 1px 0 #021e05;
    filter: alpha(opacity=20);
    opacity: .6;
}
